.list {
    list-style: none;
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 320px;  
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


/* =======Normalaized ========== */
body {
  font-family: "Roboto", Tahoma, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/* ========burger btn========== */

.nav {
    background-color: #181818;
    height: 46px;

    display: flex;
    align-items: center;
}

.menu-close-btn {
    margin-left: 15px;
}

/* ========== Hero ============== */

.hero {
    height: 530px;
    background-image: url(../img/images/rain_bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div > h2 {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
    padding-top: 27px;
}

.hero-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFC700;
    margin-top: 20px;
}

.hero-btn {
    display: block;
    margin: auto;
    margin-top: 150px;
    padding: 13px 17px 10px 17px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #0D0C11;

    border: none;
    background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
    border-radius: 20px;
}

.recomendation {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.27;
    /* or 127% */
    margin-top: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFC700;
}

.improvement {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.27;
    /* or 127% */
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.more {
    display: block;
    margin: auto;
    margin-top: 30px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* ========= Recomend ========== */

.recomend {
    height: 340px;
    background:linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../img/images/image.jpg), url(../img/images/Rectangle\ 2.6.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 320px;
}

.recomend-title {
    display: inline-block;
    margin: 83px 36px 28px 36px;

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    /* or 128% */
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

/* ============ advice =============== */

.advice-title {
    display: inline-block;
    padding-top: 38px;
    margin-left: 11px;
    margin-right: 11px;

    color: 272727;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */

    letter-spacing: 0.05em;
}

.advice-img {    
    margin: auto;
    margin-top: 38px;
}

.advice-btn {
    display: block;
    margin: auto;
    padding: 13px 17px 10px 17px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #0D0C11;

    border: none;
    background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
    border-radius: 20px;
}

/* ============ conclusion ============*/

.conclusion {
    background: url(../img/images/rain_bk2.jpg);
    margin-top: 40px;
}

.conclusion-title-up {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: 0.05em;

    color: #FFFFFF;
    display: inline-block;
    padding-top: 56px;
    margin-left: 14px;
    margin-right: 51px;

}

.conclusion-title-up > span {
    color: #FFC700;
}

.conclusion-bcg {
    display: flex;
    align-items: center;
    background: rgba(243, 243, 242, 0.8);
    border-radius: 20px;
    margin: auto;
    margin-top: 14px;
    width: 303px;
    height: 216px;
}

.conclusion-title-down {
    padding-left: 14px;
    padding-right: 15px;
}

.conclusion-dtn { 
    margin: auto;   
    margin-top: 33px;
    margin-bottom: 52px;

    display: block;
    padding: 13px 17px 10px 17px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
    background: transparent;
    border-radius: 20px;
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 13px;
}

/* =========== Modal window ============ */

.mobile-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    transition: opacity 250ms, visibility 250ms;
    z-index: 1;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.mobile-modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 48px 83px 48px 40px;
}

.menu-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.mobile-menu__list {
    margin-bottom: 30px;
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 30px;
}

.mobile-menu__link {
    
    font-family: inherit;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;
    color: tomato;
    text-decoration: none;    
}

.mobile-menu__link--active {
    color: yellow;
}